$padding: 20px 20px 0px 20px;
$border: 0.5px solid grey;
$cellSize: 20px;
$animation: 0.5s linear;

#my-wrapper {
  .container {
    padding: $padding;
  }

  .sameLine {
    display: flex;
  }

  .barDiv {
    margin: 10px 0px 10px 0px;

    .barLabel {
      width: 30px;
    }

    .bar {
      margin: 0px 0px 0px 0px;
      width: 400px;
    }
  }

  .Board {
    padding: $padding;

    table {
      border: $border;
      border-spacing: 0;
    }

    td {
      border: $border;
      height: $cellSize;
      width: $cellSize;
    }

    .hide {
      visibility: hidden
    }
  }
}